.cart-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cart-wrapper {
    cursor: pointer;
    position: relative;
}

.cart-icon {
    height: 5rem;
    width: auto;
}

.cart-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    right: -10px;
    height: 1.5rem;
    width: 1.5rem;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: white;
}

.product-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .3rem solid grey;
}

.product-details button {
    margin-bottom: 1rem;
}